.background {
	z-index: 0;
}

.railline {
	z-index: 1;
}

.station {
	z-index: 2;
}

.overlay {
	z-index: 3;
}

.overlay path {
	fill-opacity: 0.1;
	fill: #000;
}

.overlay path:hover {
	stroke-width: 2px;
	stroke: white;
	stroke-opacity: 1;
}

.background path {
	stroke-width: 1;
	stroke: #222222;
	fill: #222;
	fill-opacity: 0.8;
}

.background path.activeArea {
	stroke-width: 2;
	stroke: #555555;
	fill: #222;
	fill-opacity: 1;
}

.railline path {
	stroke-width: 3;
	stroke: #00f;
	stroke-opacity: 0.6;
	fill: none;
}

.station path {
	stroke-width: 2;
	stroke: #222;
	stroke-opacity: 0.6;
	fill: #FFF;
}
