/* Layout */
body {
	background-color: #111111;
	margin: 0px;
	overflow: hidden;
}

a {
	 text-decoration : none;
}

div {
	font-family: Tahoma;
}

.map {
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 1;
}

.map svg {
	position: absolute;
	top: 0px;
	left: 0px;
	
}

.header {
	text-align: center;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 5;
}

.mainText {
	text-align: left;
	position: absolute;
	top: 25%;
	left: 15%;
	width: 60%;
	height: 80%;
	z-index: 5;
	color: white;
}

.stuff, .controlArea {
	position: absolute;
	right: 5px;
	top: 55px;
	
	height: 60%;
	width: 40%;
	color: white;
	z-index: 5;
}

.controlArea {
	border: 1px solid green;
	top: 60px;
	display: none;
}

.controlArea {
	border: 1px solid green;
	top: 60px;
	display: none;
}

.footer {
	position: absolute;
	
	bottom: 0px;
	width: 100%;
	height: 40px;
	
	z-index: 5;
}

.footer .footControls {
	float: left;
	z-index: 5;
}

.footSlider {
	position: relative;
	top: 30%;
	left: 10%;

	width: 80%;
	height: 40px;
}

.controlAreaScroll {
	max-height: 150px;
	overflow-y: auto;
}

/*style the dropdown menu*/
.myMenu {
	margin:0;
	padding:0;
	
	z-index: 15;
}

.myMenu li {
	list-style:none;
	display: inline-block;
	font:12px Arial, Helvetica, sans-serif #111;
	
	z-index: 15;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
	background-color:#09F;
	padding: 0.5em 2em;
	margin:0;
	border-right: 1px solid #fff;
	color:#111;
	opacity: 0.5;
	
	z-index: 15;
}

.myMenu li a:hover {
	background-color:#0CF;
	opacity: 0.5;
	
	z-index: 15;
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
	
	z-index: 15;
}

.myMenu li ul li {
	display:inline;
	float:none;
	
	z-index: 15;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#09F;
	width:auto;
	
	z-index: 15;
}

.myMenu li ul li a:hover {
	background-color:#0CF;
	opacity: 0.5;
	
	z-index: 15;
}

